{
  "branches": [ "main" ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "@semantic-release-plus/docker",
      {
        "registry": "ghcr.io",
        "name": "katharinasick/backstage-playground"
      }
    ]
  ]
}